extends layout

block content


    div(id='menu')    
        span(class='title') Streaming Twitter Map
        input(id='keywords', value='who,what,when,why,where,how') 
        br
        button(class='btn  btn-warning', id='btn_add_keywords') Map Them
        span(class='count')
        span(class='debug')

    div(id='localhost_window')

    div(id='map-canvas')

    include ./templates.jade
