extends layout

block head
    link(rel='stylesheet', href='/stylesheets/twitterphotos.css')

block content        

    div(id='menu_bar')
        span(class='title') Streaming Twitter Map
        span(class='debug')
        div(id='header_stuff')
            input(id='keywords', value='who,what,when,why,where,how')      
            button(class='btn  btn-warning', id='btn_add_keywords') Map Them
            span(class='count')

    div(id='content') 
            
    include ./photo_templates.jade

block scripts    
    script(src='/scripts/photoApp.js')