
script(id="tweet-photo", type="text/x-handlebars-template")
    div(class="tweetWin")

        div(class='header')

                div(class='author')
                    a(target='_blank', href='http://twitter.com/{{user.screen_name}}')
                        img(src='{{user.profile_image_url}}')
                
                    div(class='author_name')
                          
                        a(target='_blank', href='http://twitter.com/{{user.screen_name}}', class='twitter-mention-button') @{{user.screen_name}}
                        br        
                        a(target='_blank', href='http://twitter.com/{{user.screen_name}}')
                            span(class='name') {{user.name}}

        {{#if media_url}}
        div(class='photo')
            a(target='_blank', href='http://twitter.com/{{user.screen_name}}/status/{{id_str}}')
                img(src='{{media_url}}')
        {{/if}}

        div(class='copy')         
            a(target='_blank', href='http://twitter.com/{{user.screen_name}}/status/{{id_str}}')
                {{text}}
                br
                //br
                //put down by the favorites/retweets counts because those are always 0
                //at {{created_at_str}}

        div(class='hr')

        div(class='footer')
            div(class='counts')
                at {{created_at_str}}
                //hiding now because they are always 0
                //span(class='bold') {{retweet_count}} 
                //span retweets &nbsp;&nbsp;&nbsp;&nbsp;
                //span(class='bold') {{favorite_count}} 
                //span favorites 

            div(class='actions')
                a(target='_blank', href='https://twitter.com/intent/tweet?in_reply_to={{id_str}}')
                    span(class='reply')
                    
                a(target='_blank', href='https://twitter.com/intent/favorite?tweet_id={{id_str}}')
                    span(class='favorite')
                    
                a(target='_blank', href='https://twitter.com/intent/retweet?tweet_id={{id_str}}')
                    span(class='retweet')
         

